In [1]:
import os
import pandas as pd
import locale
import numpy as np

In [2]:
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

In [3]:
df_list = []

In [4]:
for root, dirs, files in os.walk('C:\\datasets\\execucao_receitas_ptransp\\temp'):
    for file in files:
        arq = os.path.join(root, file)
        if file.startswith('2014') or file.startswith('2015') or file.startswith('2013'):
            print('ano incompleto')
            pass
        else:
            frame = pd.read_csv(arq,encoding='iso-8859-1',delimiter=';')
            #frame['Valor Empenhado (R$)'] = pd.to_numeric(frame['Valor Empenhado (R$)'])
            df_list.append(frame)
df = pd.concat(df_list)
df['Tipo'] = 'Receitas'

ano incompleto
ano incompleto
ano incompleto

In [5]:
import sqlalchemy

In [12]:
engine_mysql = 'mysql+pymysql://root:@localhost:3306/rec_desp'

In [13]:
engine = sqlalchemy.create_engine(engine_mysql)

In [14]:
df.to_sql(name='receitas', con=engine, if_exists='append', index=False)
print('receitas inseridas')

receitas inseridas